# Exclude the build directories
/ChristmasBoard-desktop/bin
/ChristmasBoard-android/bin
/ChristmasBoard/bin
/BaseGameUtils/bin
/google-play-services_lib/bin

# Exclude OS X folder attributes
.DS_Store